# Regularization with SciKit-Learn

# Import Libraries

In [1]:
import numpy as np                                                   # array
import pandas as pd                                                  #data cleaning
import matplotlib.pyplot as plt                                      #Data visualization
import seaborn as sns                                                #Data visualization         
from sklearn.model_selection import train_test_split                 #Train test split 
from sklearn.linear_model import Ridge                               #Ridge Regularization
from sklearn.metrics import mean_absolute_error,mean_squared_error   #Accuracy check with error   
from sklearn.linear_model import RidgeCV                             #Ridge regression with built-in cross-validation. 
from sklearn.linear_model import LassoCV                             #Lasso regression with built-in cross-validation. 
from sklearn.linear_model import ElasticNetCV                        #ElasticNetCV regression with built-in cross-validation.  
from sklearn.model_selection import cross_val_score 
from sklearn import datasets 
from sklearn.preprocessing import StandardScaler,normalize

## Import Dataset

In [2]:
# Loading pre-defined Boston Dataset
boston_dataset = datasets.load_boston()
#print(boston_dataset.DESCR)

In [3]:
#Load the data and divide into X and Y varaiable
boston_pd = pd.DataFrame(boston_dataset.data) 
boston_pd.columns = boston_dataset.feature_names 
boston_pd_target = np.asarray(boston_dataset.target) 
boston_pd['House Price'] = pd.Series(boston_pd_target)

In [4]:
boston_pd

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,House Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [5]:
# input 
X = boston_pd.iloc[:, :-1] 

#output 
Y = boston_pd.iloc[:, -1]

In [6]:
X_train,X_test,y_train,y_test= train_test_split(X,Y,test_size=0.3)

# Scaling the Data

In [7]:
scale= StandardScaler()
x_train= scale.fit_transform(X_train)
x_test= scale.fit_transform(X_test)

In [8]:
x_train_norm = normalize(X_train)
x_test_norm = normalize(X_test)

In [9]:
x_train_norm= pd.DataFrame(x_train_norm)
x_test_norm= pd.DataFrame(x_test_norm)

In [10]:
x_train_norm

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.011173,0.0,0.023200,0.0,0.000888,0.008294,0.126636,0.002212,0.030762,0.853641,0.025891,0.502418,0.021943
1,0.000578,0.0,0.015017,0.0,0.001003,0.011614,0.151183,0.009606,0.010174,0.583979,0.039882,0.795860,0.023888
2,0.000490,0.0,0.036901,0.0,0.001052,0.010408,0.157784,0.002717,0.006743,0.736662,0.035737,0.654196,0.040727
3,0.004970,0.0,0.024332,0.0,0.000965,0.006672,0.122872,0.002356,0.032264,0.895324,0.027155,0.424849,0.018821
4,0.018505,0.0,0.023368,0.0,0.000793,0.008042,0.113611,0.002519,0.030985,0.859827,0.026079,0.494878,0.016925
...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,0.009945,0.0,0.024313,0.0,0.000802,0.007545,0.131503,0.001954,0.032238,0.894596,0.027133,0.422636,0.035461
350,0.000281,0.0,0.021827,0.0,0.001008,0.012142,0.045962,0.008132,0.008244,0.570923,0.038336,0.818049,0.022404
351,0.000315,0.0,0.015383,0.0,0.000997,0.013733,0.014693,0.012736,0.006678,0.518692,0.039848,0.853437,0.012934
352,0.000902,0.0,0.012660,0.0,0.001029,0.013379,0.043697,0.006892,0.016335,0.626871,0.035529,0.776625,0.007678
353,0.003509,0.0,0.020582,0.0,0.001360,0.015044,0.207332,0.010088,0.010114,0.776232,0.053097,0.588116,0.070063

In [11]:
x_test_norm

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.000327,0.043752,0.011654,0.0,0.000857,0.012793,0.097646,0.015565,0.013921,0.656278,0.037985,0.745193,0.018933
1,0.000214,0.000000,0.059108,0.0,0.001339,0.013737,0.214079,0.004809,0.004609,0.433227,0.044014,0.871270,0.041318
2,0.000306,0.000000,0.017861,0.0,0.000976,0.010577,0.157372,0.004395,0.010706,0.770803,0.031760,0.615411,0.028120
3,0.004268,0.000000,0.036118,0.0,0.001116,0.010846,0.179483,0.004406,0.009223,0.743388,0.027116,0.642173,0.022191
4,0.000039,0.205016,0.004601,0.0,0.000934,0.015326,0.082234,0.027624,0.011390,0.425977,0.038725,0.875782,0.010251
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,0.023603,0.000000,0.023095,0.0,0.000852,0.005280,0.127598,0.001451,0.030624,0.849805,0.025775,0.506438,0.048449
148,0.001090,0.000000,0.012587,0.0,0.001023,0.012142,0.138254,0.007454,0.016241,0.623261,0.035325,0.768113,0.023651
149,0.012028,0.000000,0.023581,0.0,0.000822,0.008098,0.130283,0.001523,0.031268,0.867683,0.026317,0.477030,0.012416
150,0.000247,0.000000,0.005900,0.0,0.000909,0.016474,0.155162,0.007136,0.004083,0.563485,0.036749,0.810315,0.008595
151,0.007043,0.000000,0.026823,0.0,0.001057,0.009670,0.128188,0.003610,0.035567,0.986972,0.029935,0.075460,0.026868

# Ridge Regression

In [12]:
ridge_model= Ridge(alpha=10)
ridge_model.fit(x_train_norm,y_train)

Ridge(alpha=10)

In [13]:
test_pred_Ridge=ridge_model.predict(x_test_norm)

In [14]:
MAE= mean_absolute_error(y_test,test_pred_Ridge)
MSE= mean_squared_error(y_test,test_pred_Ridge)
RMSE= np.sqrt(MSE)

In [15]:
print('Mean Absolute Error:',MAE,' Root mean squared error:',RMSE)

Mean Absolute Error: 6.152192104918494  Root mean squared error: 8.994772093786509

In [16]:
# Putting together the coefficient and their corrsponding variable names 
ridge_model_coefficient = pd.DataFrame() 
ridge_model_coefficient["Columns"] = X_train.columns 
ridge_model_coefficient['Coefficient Estimate'] = pd.Series(ridge_model.coef_) 
print(ridge_model_coefficient)

    Columns  Coefficient Estimate
0      CRIM             -0.800941
1        ZN              3.299416
2     INDUS             -0.943859
3      CHAS              0.013091
4       NOX             -0.001783
5        RM              0.378921
6       AGE             -1.846471
7       DIS              0.145430
8       RAD             -0.298992
9       TAX             -9.019180
10  PTRATIO             -0.036620
11        B              9.620144
12    LSTAT             -1.822863

In [17]:
# Training Set Performance
train_ridge_pred= ridge_model.predict(x_train_norm)
MAE= mean_absolute_error(y_train,train_ridge_pred)
MAE

5.383297069426948

# Choosing an alpha value with Cross-Validation

In [18]:
# See all options: sklearn.metrics.SCORERS.keys()
ridge_cv_model = RidgeCV(alphas=(0.1, 1.0, 10.0),scoring='neg_mean_absolute_error')

In [19]:
# The more alpha options you pass, the longer this will take.
ridge_cv_model.fit(x_train_norm,y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), scoring='neg_mean_absolute_error')

In [20]:
ridge_cv_model.alpha_

0.1

In [21]:
ridgecv_test_predictions = ridge_cv_model.predict(x_test_norm)

In [22]:
MAE = mean_absolute_error(y_test,ridgecv_test_predictions)
MSE = mean_squared_error(y_test,ridgecv_test_predictions)
RMSE = np.sqrt(MSE)

In [23]:
print('Mean Absolute Error:',MAE,' Root mean squared error:',RMSE)

Mean Absolute Error: 5.5831927866968485  Root mean squared error: 8.27091193206256

In [24]:
# Putting together the coefficient and their corrsponding variable names 
ridgecv_model_coefficient = pd.DataFrame() 
ridgecv_model_coefficient["Columns"] = X_train.columns 
ridgecv_model_coefficient['Coefficient Estimate'] = pd.Series(ridge_cv_model.coef_) 
print(ridgecv_model_coefficient)

    Columns  Coefficient Estimate
0      CRIM            -32.126051
1        ZN             26.816727
2     INDUS            -28.419628
3      CHAS              1.336002
4       NOX              0.170013
5        RM             19.923450
6       AGE             -2.917384
7       DIS            -13.057354
8       RAD             13.068677
9       TAX            -31.494042
10  PTRATIO            -19.249580
11        B             -3.650946
12    LSTAT           -105.896648

In [25]:
# Training Set Performance
train_ridge_cv_pred= ridge_cv_model.predict(x_train_norm)
MAE= mean_absolute_error(y_train,train_ridge_cv_pred)
MAE

4.520433797340991

# Lasso Regression

In [26]:
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LassoCV.html
#eps:Length of the path. eps=1e-3 means that alpha_min / alpha_max = 1e-3.
lasso_model= LassoCV(eps=0.1,n_alphas=100,cv=5)

In [27]:
lasso_cv_model= lasso_model.fit(x_train_norm,y_train)

In [28]:
lasso_cv_model.alpha_

0.0950861943225897

In [29]:
test_pred_lassocv= lasso_cv_model.predict(x_test_norm)

In [30]:
MAE= mean_absolute_error(y_test,test_pred_lassocv)
MSE= mean_squared_error(y_test,test_pred_lassocv)
RMSE= np.sqrt(MSE)
print('Mean Absolute Error:',MAE,' Root mean squared error:',RMSE)

Mean Absolute Error: 6.356666560982624  Root mean squared error: 9.183848463999148

In [31]:
# Putting together the coefficient and their corrsponding variable names 
lassocv_model_coefficient = pd.DataFrame() 
lassocv_model_coefficient["Columns"] = X_train.columns 
lassocv_model_coefficient['Coefficient Estimate'] = pd.Series(lasso_cv_model.coef_) 
print(lassocv_model_coefficient)

    Columns  Coefficient Estimate
0      CRIM             -0.000000
1        ZN              0.000000
2     INDUS             -0.000000
3      CHAS              0.000000
4       NOX             -0.000000
5        RM              0.000000
6       AGE             -0.000000
7       DIS              0.000000
8       RAD             -0.000000
9       TAX            -24.751616
10  PTRATIO             -0.000000
11        B              3.367288
12    LSTAT             -0.000000

# Elastic Net

In [32]:
elastic_model= ElasticNetCV(l1_ratio=[.1, .5, .7,.9, .95, .99, 1],tol=0.01)

In [33]:
elastic_model.fit(x_train_norm,y_train)

ElasticNetCV(l1_ratio=[0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1], tol=0.01)

In [34]:
elastic_model.l1_ratio

[0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1]

In [35]:
test_pred_elastic= elastic_model.predict(x_test_norm)

In [36]:
MAE= mean_absolute_error(y_test,test_pred_elastic)
MSE= mean_squared_error(y_test,test_pred_elastic)
RMSE= np.sqrt(MSE)
print('Mean Absolute Error:',MAE,' Root mean squared error:',RMSE)

Mean Absolute Error: 3.710447171956229  Root mean squared error: 5.807112262588805

In [37]:
# Putting together the coefficient and their corrsponding variable names 
elastic_model_coefficient = pd.DataFrame() 
elastic_model_coefficient["Columns"] = X_train.columns 
elastic_model_coefficient['Coefficient Estimate'] = pd.Series(elastic_model.coef_) 
print(elastic_model_coefficient)

    Columns  Coefficient Estimate
0      CRIM            -85.227183
1        ZN             17.571771
2     INDUS            -17.890867
3      CHAS              0.000000
4       NOX             -0.000000
5        RM           1854.755490
6       AGE             -3.675359
7       DIS           -401.599251
8       RAD            105.867762
9       TAX            -11.886823
10  PTRATIO           -228.187122
11        B              0.817169
12    LSTAT           -275.685300

In [38]:
# Training Set Performance
train_pred_elastic= elastic_model.predict(x_train_norm)
MAE= mean_absolute_error(y_train,train_pred_elastic)
MAE

3.0889449828496236